<html>
<head>
    <style type="text/css">
        #img1
        {
            position:absolute;
            left:0px;
            top:0px;
            z-index:-1
        }
    </style>
    <script type="text/javascript">
        function changeStackOrder()
        {
            document.getElementById("img1").style.zIndex="1";
        }
    </script>
</head>
<body>

<h1>This is a Heading</h1>

<button id="img1"  width="100" height="180">

<p>Default z-index is 0. Z-index -1 has lower priority.</p>

<input type="button" onclick="changeStackOrder()"
       value="Change stack order" />

</body>
</html>